accelerate==1.10.1
deepspeed==0.18.2
depyf==0.19.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
einops==0.8.1
einops-exts==0.0.4
matplotlib==3.10.7
numpy==2.2.6
pandas==2.3.3
peft==0.17.1
pillow==11.3.0
protobuf==6.32.1
psutil==7.1.0
scikit-learn==1.8.0
scipy==1.16.2
sentencepiece==0.2.1
setuptools==79.0.1
six==1.17.0
tokenizers==0.22.1
torch==2.8.0
torchaudio==2.8.0+cu128
torchinfo==1.8.0
torchvision==0.23.0
tqdm==4.67.1
transformers==4.57.1
wfdb==4.3.0
wheel==0.45.1
